* {
  margin: 0;
  padding: 0;
  direction: ltr;
}

body {
  background-image: url(/imgs/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "roboto", sans-serif;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  background-color: rgba(240, 248, 255, 0.7);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-title {
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-title i {
  font-size: 25px;
  margin-right: 5px;
  color: #9146ff;
}

.streamers-parent {
  position: relative;
  min-height: 500px;
}

/* loading styles  */

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 248, 255, 0.7);
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#wifi-loader {
  --background: #62abff;
  --front-color: #9146ff;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

/* stream item styles  */
.streams {
  padding-top: 20px;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

.streams-item {
  margin: 10px auto;
  max-width: 350px;
  background-color: rgba(240, 248, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  border: 2px solid hwb(0 0% 100% / 0.7);
  outline: 2px solid hwb(264 27% 0% / 0.7);
  overflow: hidden;
  transition: all 0.1s ease;
}

.streams-item:hover {
  transform: scale(1.03) !important;
  backdrop-filter: unset;
}

.streams-thumbnail-parent {
  min-height: 80px;
  min-width: 280px;
}

.streams-thumbnail-parent img {
  width: 100%;
}

.streams-detail-parent {
  padding: 5px 10px;
}

.streams-name-view {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #9146ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;
}

.fa-regular.fa-eye {
  color: rgba(0, 0, 0, 0.8);
}

.stream-viewers-count {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stream-title-parent {
  margin-top: 0.5rem;
  padding-bottom: 5px;
}

.stream-title {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media screen and (min-width: 400px) {
  .top-title {
    font-size: 14px;
  }

  .top-title i {
    font-size: 28px;
  }
}

@media screen and (min-width: 600px) {
  .streams-item {
    min-width: 280px;
    max-width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .streams-item {
    min-width: 280px;
    max-width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .streams-item {
    min-width: 280px;
    max-width: 24%;
  }
}

@media screen and (min-width: 1600px) {
  .streams-item {
    min-width: 280px;
    max-width: 19%;
  }
}

.dev-message {
  position: fixed;
  background: rgb(255, 118, 118);
  background: linear-gradient(
    162deg,
    rgba(255, 118, 118, 1) 0%,
    rgba(255, 113, 23, 1) 88%
  );
  padding: 20px;
  font-weight: 400;
  width: 300px;
  z-index: 10;
  bottom: 50px;
  transform: translateX(-500px);
  visibility: hidden;
  transition: all 0.3s;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 8px 8px 0;
  font-size: 18px;
  cursor: pointer;
}

.dev-message.active {
  transform: translate(0);
  visibility: visible;
}
